<div class="cart-container">
  <h2>Giỏ hàng của bạn</h2>

  <div *ngIf="cartItems.length === 0" class="empty-cart">
    <p>Giỏ hàng trống</p>
  </div>

  <div *ngFor="let item of cartItems" class="cart-item">
    <div class="cart-image">
      <img [src]="item.product?.image" alt="Product Image" class="cart-item-image">
      <h4>{{ item.product?.name }}</h4>
    </div>

    <div class="cart-item-info">
      <p>Giá: {{ item.product?.price | currency:'USD' }}</p>
      <div class="quantity-control">
        <button (click)="decreaseQuantity(item)">-</button>
        <input type="number" [(ngModel)]="item.quantity" min="1" (change)="updateQuantity(item)">
        <button (click)="increaseQuantity(item)">+</button>
      </div>
      <button class="remove-button" (click)="removeFromCart(item)">Xóa</button>
    </div>
  </div>

  <div class="cart-summary">
    <h3>Tổng tiền: {{ getTotalPrice() | currency:'USD' }}</h3>

    <!-- Form nhập thông tin khách hàng -->
    <div class="customer-info">
      <label for="customerName">Họ tên:</label>
      <input id="customerName" [(ngModel)]="customerName" required>

      <label for="phoneNumber">Số điện thoại:</label>
      <input id="phoneNumber" [(ngModel)]="phoneNumber" required>

      <label for="address">Địa chỉ:</label>
      <input id="address" [(ngModel)]="address" required>
    </div>


    <button class="checkout-button" (click)="placeOrder()">Đặt hàng</button>
  </div>
</div>
