/* You can add global styles to this file, and also import other style files */
body{
  background: linear-gradient(90deg, rgba(234,233,255,1) 0%, rgba(252,167,213,1) 35%,
   rgba(194,245,255,1) 100%);
}

/* Định dạng cho container */
.container-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh; /* Chiều cao tối thiểu là 100% viewport */
}

.container {
  background: #fff; /* Nền trắng cho container */
  border-radius: 12px; /* Bo tròn góc */
  box-shadow: 0 4px 10px rgba(241, 7, 38, 0.2); /* Đổ bóng nhẹ */
}



hr {
  border-top: 2px solid #151516; /* Tăng độ dày và màu của đường kẻ */
}
